/* Base Styles */

:root {
    font-size: 10px;
}

.container{
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile-user-settings{
    display: grid;
    grid-template-columns: (1fr, 2fr);
    grid-template-rows: repeat (3, auto);
    grid-column-gap: 3rem;
    align-items: center;
}

.profile-stats li{
    display: inline-block;
    font-size: 1.5;
    margin-right: 4rem;
    cursor: pointer;
    font-weight: bold;
}

.profile-image{
    float: left;
    width: calc (33.333% -1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-user-settings, .profile-stats, .profile-bio{
    float: left;
    width: calc (66.666% -2rem);
}

.profile-user-name{
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}
