/* Base Styles */

:root {
    font-size: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1 fr)
    align-items: center;
}

.profile-image{
    display: grid;
    grid-template-columns: (1fr, 2fr);
    grid-template-rows: repeat (3, auto);
    grid-column-gap: 3rem;
    align-items: center;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: grid;
    grid-template-columns: repeat(100px, 3fr);
    width: 20%;
    height: auto;

}
